@model OnionContactManagementSolution.Core.Models.Contact

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Detail";
}

<div>Contact detail to delete</div>

<div>
    <div>Contact</div>
    <hr />
    <li>
        <ul>
            @Html.DisplayNameFor(model => model.FirstName)
        </ul>

        <ul>
            @Html.DisplayFor(model => model.LastName)
        </ul>

        <ul>
            @Html.DisplayNameFor(model => model.Email)
        </ul>

        <ul>
            @Html.DisplayFor(model => model.PhoneNumber)
        </ul>

        <ul>
            @Html.DisplayNameFor(model => model.Status)
        </ul>        

    </li>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
